/* Coolors Exported Palette - coolors.co/fe4a49-2ab7ca-fed766-e6e6ea-f4f4f8 */

/* HSL */
$color1: hsla(0%, 99%, 64%, 1);
$color2: hsla(187%, 66%, 48%, 1);
$color3: hsla(45%, 99%, 70%, 1);
$color4: hsla(240%, 9%, 91%, 1);
$color5: hsla(240%, 22%, 96%, 1);

/* RGB */
$color1: rgba(254, 74, 73, 1); // red
$color2: rgba(42, 183, 202, 1); // teal
$color3: rgba(254, 215, 102, 1); // sunburst
$color4: rgba(230, 230, 234, 1); // silver
$color5: rgba(244, 244, 248, 1); // gray