@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Damion');


@font-face {
    font-family: 'sf_speakeasyregular';
    src: url('../fonts/SF_Speakeasy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#react-root, .wrapper, html, body {
    height:100%;
    margin: 0;
}

body {
  background: white;
  color: black;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: 300;
  height: 100%;
}

.chatbar {
  background: $color2;
  border-top: 1px solid black;
  display: flex;
  padding: 5px;
  position: relative;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid black;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
  font-weight: 600;
}

// TODO: Add a breakpoint to change the size of the logo @ ~747px

.logo {
  background: url('../img/yamr_logo2.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  float: right;
  height: 100px;
  position:relative;
  width: 300px;
}

.tagline {
  color: $color1;
  font-family: Damion, cursive;
  font-size: 30px;

}

.messages {
  flex: 1 1;
  overflow: auto;
  padding: 10px 0;
}

.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username-container {
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
}

.message-username-container {
  flex: 2;
}

.message-username {
  background: gray;
  border: 1px solid black;
  border-radius: 3px;
  font-weight: 700;
  padding: 2px 5px;
}

.navbar {
  background: #fff;
  border-bottom: 2px solid $color2;
  height: 60px;
  padding: 25px 25px 0 25px;
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-size: 28px;
  font-family: 'sf_speakeasyregular', sans-serif;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.sidebar {
  background-color: $color4;
  flex: 0 0 240px;
}

.user-display {
  display: block;
  text-align: center;
  margin-top: 15px;
}
.application-body {
  background-color: $color5;
  border-top: 4px solid $color3;
  display: flex;
  flex: 1;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.user-list {
  list-style-type: none;
  padding: 0;
  li {
    border-color: darkgray;
    border-style: solid;
    border-width: 1px 0 1px;
    padding: 10px 0 10px 25px;
  }
}

input {
  transition: all ease-in-out 0.15s;
  -webkit-transition: all ease-in-out 0.15s;
}

input:focus { 
  outline: none;
  border-color: $color3;
  box-shadow: 0 0 10px $color3;
}