@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700');

@font-face {
    font-family: 'sf_speakeasyregular';
    src: url('../fonts/SF_Speakeasy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#react-root, .wrapper, html, body {
    height:100%;
    margin: 0;
}

body {
  background: white;
  color: black;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 100%;
}

.chatbar {
  background: tomato;
  border-top: 1px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid black;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
  font-weight: 600;
}

.messages {
  flex: 1 1;
  overflow: auto;
}

.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  background: tomato;
  border-bottom: 1px solid black;
  height: 60px;
  left: 0;
  padding: 0 10px;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-size: 28px;
  font-family: 'sf_speakeasyregular', sans-serif;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.sidebar {
  background-color: $color4;
  flex: 0 0 240px;
}

.user-display {
  padding: 20px;
}
.application-body {
  background-color: $color5;
  display: flex;
  flex: 1;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

